body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%);
}

.snake {
    border: 10px solid #000000;
}